In [1]:
import numpy as np
import pandas as pd

In [2]:
newyorkcity = pd.read_csv(r'NYC-CitiBike-2016.csv')

In [12]:
newyorkcity.head(10000)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,839,1/1/2016 00:09:55,1/1/2016 00:23:54,532,S 5 Pl & S 4 St,40.710451,-73.960876,401,Allen St & Rivington St,40.720196,-73.989978,17109,Customer,NaN,0
1,686,1/1/2016 00:21:17,1/1/2016 00:32:44,3143,5 Ave & E 78 St,40.776829,-73.963888,3132,E 59 St & Madison Ave,40.763505,-73.971092,23514,Subscriber,1960.0,1
2,315,1/1/2016 00:33:11,1/1/2016 00:38:26,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3178,Riverside Dr & W 78 St,40.784145,-73.983625,14536,Subscriber,1971.0,1
3,739,1/1/2016 00:40:51,1/1/2016 00:53:11,223,W 13 St & 7 Ave,40.737815,-73.999947,276,Duane St & Greenwich St,40.717488,-74.010455,24062,Subscriber,1969.0,1
4,1253,1/1/2016 00:44:16,1/1/2016 01:05:09,484,W 44 St & 5 Ave,40.755003,-73.980144,151,Cleveland Pl & Spring St,40.722104,-73.997249,16380,Customer,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,218,1/31/2016 13:41:54,1/31/2016 13:45:33,490,8 Ave & W 33 St,40.751551,-73.993934,498,Broadway & W 32 St,40.748549,-73.988084,21490,Subscriber,1981.0,1
9996,838,1/31/2016 13:41:54,1/31/2016 13:55:52,375,Mercer St & Bleecker St,40.726795,-73.996951,253,W 13 St & 5 Ave,40.735439,-73.994539,14676,Subscriber,1961.0,2
9997,1559,1/31/2016 13:42:37,1/31/2016 14:08:37,250,Lafayette St & Jersey St,40.724561,-73.995653,3092,Berry St & N 8 St,40.719009,-73.958525,23881,Subscriber,1971.0,2
9998,981,1/31/2016 13:42:42,1/31/2016 13:59:03,3147,E 85 St & 3 Ave,40.778012,-73.954071,3141,1 Ave & E 68 St,40.765005,-73.958185,24159,Subscriber,1990.0,1
9999,576,1/31/2016 13:43:39,1/31/2016 13:53:15,291,Madison St & Montgomery St,40.713126,-73.984844,315,South St & Gouverneur Ln,40.703554,-74.006702,15416,Subscriber,1958.0,2

In [4]:
chicago = pd.read_csv(r'Chicago-Divvy-2016.csv')

In [6]:
chicago.head(2)

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,9080545,3/31/2016 23:30,3/31/2016 23:46,2295,926,156,Clark St & Wellington Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0
1,9080521,3/31/2016 22:59,3/31/2016 23:02,3439,198,259,California Ave & Francis Pl,276,California Ave & North Ave,Subscriber,Male,1974.0

In [7]:
washington = pd.read_csv(r'Washington-CapitalBikeshare-2016.csv')

In [8]:
washington.head(2)

,Duration (ms),Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member Type
0,427387,3/31/2016 22:57,3/31/2016 23:04,31602,Park Rd & Holmead Pl NW,31207,Georgia Ave and Fairmont St NW,W20842,Registered
1,587551,3/31/2016 22:46,3/31/2016 22:56,31105,14th & Harvard St NW,31266,11th & M St NW,W21385,Registered

In [14]:
washington['Member Type'].unique()

array(['Registered', 'Casual'], dtype=object)

In [15]:
chicago['usertype'].unique()

array(['Subscriber', 'Customer'], dtype=object)

In [16]:
newyorkcity['usertype'].unique()

array(['Customer', 'Subscriber', nan], dtype=object)

In [17]:
bikeshare = pd.read_csv('BayArea_Y3_trip_data.csv')

In [18]:
bikeshare.head(10)

,Trip ID,Duration,Start Date,Start Station,Start Terminal,End Date,End Station,End Terminal,Bike #,Subscriber Type,Zip Code
0,913481,459,9/1/2015 6:01,San Francisco Caltrain (Townsend at 4th),70,9/1/2015 6:09,2nd at Folsom,62,579,Subscriber,94002
1,913538,535,9/1/2015 7:08,Harry Bridges Plaza (Ferry Building),50,9/1/2015 7:17,Embarcadero at Sansome,60,509,Subscriber,94530
2,913693,445,9/1/2015 8:06,San Francisco Caltrain (Townsend at 4th),70,9/1/2015 8:13,Howard at 2nd,63,468,Subscriber,94402
3,913697,330,9/1/2015 8:06,Embarcadero at Sansome,60,9/1/2015 8:12,Davis at Jackson,42,363,Subscriber,94111
4,913707,970,9/1/2015 8:08,San Francisco Caltrain (Townsend at 4th),70,9/1/2015 8:24,Commercial at Montgomery,45,356,Subscriber,94070
5,913748,252,9/1/2015 8:16,Market at Sansome,77,9/1/2015 8:20,Temporary Transbay Terminal (Howard at Beale),55,465,Subscriber,94117
6,913778,539,9/1/2015 8:24,Civic Center BART (7th at Market),72,9/1/2015 8:33,Steuart at Market,74,315,Subscriber,94103
7,913838,577,9/1/2015 8:40,Embarcadero at Bryant,54,9/1/2015 8:49,Commercial at Montgomery,45,415,Subscriber,94105
8,914013,689,9/1/2015 9:13,Golden Gate at Polk,59,9/1/2015 9:25,Yerba Buena Center of the Arts (3rd @ Howard),68,420,Subscriber,94043
9,914126,860,9/1/2015 9:48,Townsend at 7th,65,9/1/2015 10:03,Powell at Post (Union Square),71,613,Subscriber,94015